@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

.scroll-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    // background-color: rgb(20, 19, 19);
    background-image: url('https://miro.medium.com/max/3600/1*i-PXQ3H7ork5fLqr2dQw6g.png');
    // background-color: black;
}

.movies-container {
    // background-image: url('https://miro.medium.com/max/3600/1*i-PXQ3H7ork5fLqr2dQw6g.png');
    display: flex;
    font-family: 'Zilla Slab', serif;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    transform: rotate(90deg) translateY(-105vh);
    transform-origin: top left;
}

.arrow {
    height: 100px;
    width: auto;
    margin: auto;
}