.scroll-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.movies-container {
    background-color: teal;
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    transform: rotate(90deg) translateY(-105vh);
    transform-origin: top left;
    // padding: 0 8%;
}

.arrow {
    height: 100px;
    width: auto;
    margin: auto;
}

