@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Myeongjo:400,700&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Liu Jian Mao Cao', cursive;

.nav-bar {
  background-color: black;
  color: lightgray;
  height: 12vh;
  font-size: 2em;
  vertical-align: middle;
}

.main-logo {
  // font-family: 'Josefin Slab', serif;
  font-family: 'Nanum Myeongjo', serif; //not bad
  // font-family: 'Nanum Gothic', sans-serif;
  // font-family: 'Montserrat', sans-serif;



  float: left;
  // display: inline-block;

  // .logo-second {
  //   font-family: 'Cabin', sans-serif;
  // }
}

.menu {
  display: flex;
  float: right;
  font-size: .8em;

  .menu-item {
    margin: 0 13px;
    margin-top: 28px;
    // font-family: 'Josefin Slab', serif;
    font-family: 'Nanum Myeongjo', serif;
    // font-family: 'Nanum Gothic', sans-serif; //too plain????
    // font-family: 'Montserrat', sans-serif;


    color: lightgray;
    font-weight: bold;
    text-decoration: none;
  }
}

.hidden-letters {
  display: inline;
}

.hidden-letters:after {
  width: 0px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: .4s linear;
}
.hidden-letters:nth-child(1):after {
  content: 'ovie ';
}
.hidden-letters:nth-child(2):after {
  content: 'racker ';
}
.hidden-div:hover .hidden-letters:nth-child(1):after {
  width: 90px;
}
.hidden-div:hover .hidden-letters:nth-child(2):after {
  width: 130px;
}

.hidden-div {
  margin-top: 28px;
  margin-left: 15px;
}

