.card {
    margin: 10vh 0 5vh 0;
    margin-left: 20px;
    background-color: rgba(15, 30, 45, 0.8);
    ;
    color: white;
    border-radius: 5px;
    text-align: center  ;
}

.movie-title {
    height: 50px;
    letter-spacing: 1.5px;
}

.card-img {
    height: 500px;
    width: auto;
    margin-bottom: 25px;
}

h5 {
    height: 30px;
}

.card-footer {
    display: flex;
    align-items: center;
    text-align: center;
}

.info-icon {
    height: 30px;
    margin: 10px;
}

.movie-desc {
    font-size: 12px;
}
.favorite-icon {
    height: 50px;
    margin: 18px 8px;
    position: absolute;
}

.favorite-label {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    border-radius: 6px;
    background: rgba(204, 69, 69, 0.479);
}