@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
}

.App-link {
  color: #09d3ac;
}

.error-container {
  background-color: black;
  height: 20px;
}

.error {
  color: red;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 1.2em;
}